/* Main */
a.btn {
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    display: inline-block;
    margin: 2%;
}

/* Form */
form {
    flex-direction: column;
}

/* Large screens */
@media screen and (min-width: 1024px) {
    /* Form */
    form > input {
        width: 100%;
        box-sizing: border-box;
    }
}
