@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* General settings */
body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    background-color: #44453E;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='254' height='254' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23C99E37' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23EAE11B'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    color: #ffe866;
}

.container {
    text-align: center;
    width: 95%;
    margin: auto;
}

p {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h1 {
    width: fit-content;
    margin: 0 2% 0 15px;
    text-align: left;
}

nav {
    display: flex;
    flex-direction: column;
    width: 34%;
    align-items: flex-end;
    margin-left: 20px;
}

nav a {
    color: #ffe866;
    margin-bottom: 5px;
    padding-right: 15px;
    position: relative;
}

nav a:hover {
    border-right: 2px solid #ffe866;
    right: -2px;
}

.active {
    color: orange;
    border-right: 2px solid orange;
    right: -2px;
}

.active:hover {
    border-color: orange;
}

/* Main */
hr {
    border: 1px solid #ffe866;
}

main {
    width: 100%;
    margin: auto;
}

h2 {
    font-size: 1.5rem;
}

/* List */
ul {
    width: 100%;
    padding: 0;
}

li {
    color: black;
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 5px;
    list-style-type: none;
    border: 1px solid grey;
    word-wrap: break-word;
    font-size: 1.8rem;
}

.btn {
    background-color: #ffe866;
    color: #6d603b;
    border: 1px solid #ffe866;
}

.btn:hover {
    background-color: #6d603b;
    color: #ffe866;
    border-color: #6d603b;
}

/* Form */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form > input {
    background-color: lightgrey;
    color: #44453e;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    flex-grow: 1;
    margin: 3px;
    font-size: 1.3rem;
}

/* Large screens */
@media screen and (min-width: 1024px) {
    /* General */
    body {
        font-size: 2rem;
    }

    h1 {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
    }

    .container {
        width: 60%;
    }

    /* Header */
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: row;
        width: 100%;
        height: 50px;
        justify-content: space-around;
    }

    nav a {
        margin-bottom: 0;
        padding-right: 0;
    }

    nav a:hover {
        border-right: none;
        border-bottom: 2px solid #ffe866;
        bottom: -2px;
        right: 0px;
    }

    .active {
        border-right: none;
        border-bottom: 2px solid orange;
        bottom: -2px;
        right: 0;
    }

    .active:hover {
        border-color: orange;
    }

    /* Main */
    form {
        flex-direction: row;
    }

    form > input {
        width: 33%;
        margin: 2px;
    }
}